ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.butterfly{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.sunflowers{
    width: 400px;
    height: 300px;
    object-fit: contain;
}

.img-button-one, .img-button-two, .img-button-three, .img-button-four{
    width: 150px;
    height: 150px;
    object-fit: fill;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.header, .footer{
    background-color: #1F2937;
}

.Logo{
    font-size: 24px;
    color: #F9FAF8;
}

button{
    background-color: #3882F6;
    width: 100px;
    height: 35px;
    border-radius: 15px;
}

.blh-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

a, .blh-text{
    font-size: 18px;
    color: #E5E7EB;
}

.info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

*{
    border: 2px solid purple;
}

/* FLEXBOX */

.header{
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
}

.top-header{
    display: flex;
    justify-content: space-between;
    flex: 1, 1, auto;
}

.top-left-header{
    display: flex;
}

.link-header{
    display: flex;
    justify-items: flex-end;
}

.bottom-header{
    display: flex;
}

.bottom-left-header{
    padding-top: 40px;
}

.body{
    display: flex;
    flex-direction: column;    
}

.info{
    display: flex;
    padding: 40px 150px 0px 150px;
}

.image-text{
    font-size: small;
    font-weight: normal;
    color: #14181f;
}

.img-button-one, .img-button-two, .img-button-three, .img-button-four{
    display: flex;
    flex-direction: column;
    flex: 1, 1, auto;
    margin: auto;
    align-content: center;
}

.quote{
    color: #E5E7EB;
}

.quote-text, .quote-author{
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}